<div class="jumbotron mt-4">
  <img class="rounded-circle mx-auto d-block logo m-4" src="/img/book.png" alt="Logo">
  <h1 class="display-4">Biblos</h1>
  <p class="lead">Bienvenido</p>
  <hr class="my-4">
  <p> Audiolibros
  </p>
  <a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=DevNudhaGv4&t=4074s" role="button">Sun Tzu - El Arte de la Guerra</a>
  <br></br>
  <a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=HT1Kpl_A8m8" role="button">Miyamoto Musashi - El Libro de los Cinco Anillos</a>
   <br></br>
  <a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=gTeJujh3tSo&t=1520s" role="button">Hermes Trismegisto - La Tabla Esmeralda</a>
     <br></br>
  <a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=eoVuJGApciU" role="button">Confucio - Analectas "Lún Yǔ" </a>
   <br></br>
  <a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=aitue3jbeLU&t=1549s" role="button">Platón - Apología de Sócrate </a>
  <br></br>
  <p> Libros Escritos
  </p>
</div>
